* {
  color: #434343;  
}

body{
    background: #f1f1f1;
}

body, ul, li{
    margin: 0;
    padding: 0;
}


h3,h4,h5{
    margin: 0;
}

h3{
    font-family: Gotham Medium;
    font-size: 12px;
    margin: 4px 0;
}

h4{
    font-family: Gotham Medium;
    font-size: 10px;
}

h5{
   font-family: Gotham Light;
   font-size: 10px;
   color: #989898
}

header{
    
    background: #c30f42;
    height: 60px;
}

header:after{
    display: block;
    content: "";
    clear: both;
}

h1{
    text-indent: -1000px;
    float: left;
}  

nav{
    margin-top: 20px;
    float: right;
}

.nav-bar{
    width: 90%;
    margin: 0 auto;
}

header nav li{
    list-style-type: none;
    float: left;
    margin: 0 20px;
}

header nav li a{
    text-decoration: none;
    color: white;
    font-family: Gotham Medium;
}

input{
    font-family: Gotham Light;
    border: 0px solid;
    border-radius: 2px;
    padding: 5px 0;
}

input.search-form_field{
    
}

input.search-form_button{
    padding: 5px 8px;
}

.product-list{
    width: 80%;
    margin: 60px auto;
}

.product-list:after{
    display: block;
    content: "";
    clear: both;
}

.product-card{
    margin: 30px 0;
}

.product-card-top{
    margin-top: -10px;
    z-index: -1;
}

.product-card-bottom{
    margin-top: 16px;
    margin-left: 18px;
}

.product-label{
    background: #fbe55a;
    border-radius: 0 25px 25px 0;
    width: 5%;
    padding: 8px 22px 8px 14px;
    z-index: 10;
    position: absolute;
    margin-top: 12px;
}

.product-picture{
    width: 100%;
}

.product-list ul{
    list-style-type: none;
    float: left;
}

.product-list ul li{
    background: white;
    width: 24%;
    height: 31%;
    margin: 0.5%;
    float: left;
    border-radius: 6px;
}

.product-details button{
    background: white;
    border: 0px solid;
    margin: 12px 12px;
    float: right;
    border: 1px #f1f1f1 solid;
    border-radius: 25px;
    padding: 5px 0px;
}

.product-details button span{
    padding: 6px;
}

.product-details button span:nth-child(1){
    border-right: 1px #f1f1f1 solid;
    width: 40%;
}

.product-details button span:nth-child(2){
    width: 50%;
}

.product-details button span.product-price{
    font-family: Gotham black;
    color: #6d6d6d;
    font-size: 13px;
    margin-right: 4px;
}

footer{
    background: white;
    height: 80px;
}

.footer{
    width: 80%;
    margin: 0 auto;
    font-family: Gotham Light;
}

.footer ul{
    list-style-type: none;
    margin-top: 36px;
}

.footer ul.copyright{
    float: left;
}

.footer ul.social-media{
    float: right;
}

.footer ul.social-media li{
    float: left;
    margin: 4px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 20px 40px 0px;
    width: 480px;
    height: 360px;
    border-radius: 4px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.product-image-slide{
    width: 50%;
    height: 90%;
    float: left;
}

.product-image-slide img{
    height: 100%;
}

.product-information{
    float: right;
    width: 40%;
    height: 100%;
}

section.product-name{
    margin-top: 10px;
}

section.product-price{
    margin: 5px 0;
}

section.product-description{
    padding: 10px 0;
}

section.tab{
    border-bottom: 0.5px #ededed solid;
}

/* Style the tab */
.tab-title {
    overflow: hidden;
    border-bottom: 0.5px #ededed solid;
}

/* Style the buttons inside the tab */
.tab-title button {
    background-color: inherit;
    float: left;
    color: #d1d1d1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 0px;
    margin-right: 8px;
    transition: 0.3s;
    font-size: 10px;
    font-family: Gotham Medium;
    border-bottom: 3px transparent solid;
}

/* Change background color of buttons on hover */
.tab-title button:hover {
    color: #bbbbbb;
    border-bottom: 3px #fdf2ad solid;
}

/* Create an active/current tablink class */
.tab-title button.active {
    color: #434343;
    border-bottom: 3px #fbe55a solid;
}

/* Style the tab content */
.tab-content {
    display: none;
    padding: 6px 8px;
    border-top: none;
}

.tab-content ul{
    list-style-type: none;
}

.tab-content ul li{
    background: url(images/check.svg) no-repeat 0px 1.8px;
    line-height: 1.8em;
    text-indent: 16px;
}

.colors ul{
    margin: 10px 0px;
    list-style-type: none;
}

.colors ul li{
    float: left;
    margin: 0 4px;
}

.colors:after{
    display: block;
    content: "";
    clear: both;
}

div.radio-black{
    width: 10px;
    height: 10px;
    background: #3c3c3c;
    border-radius: 10px;
    border: 3px #f7f7f7 solid;
}

div.radio-grey{
    width: 10px;
    height: 10px;
    background: #dadada;
    border-radius: 10px;
    border: 3px #f7f7f7 solid;
}

div.radio-gold{
    width: 10px;
    height: 10px;
    background: #d8b56a;
    border-radius: 10px;
    border: 3px #f7f7f7 solid;
}

section.colors{
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 0.5px #ededed solid;
}

section.notes ul{
    list-style-type: none;
}

section.notes ul li{
    background: url(images/check.svg) no-repeat 0px 1.8px;
    line-height: 1.8em;
    text-indent: 16px;
}

.action{
    float: right
}

.action button{
    background: #3d3d3d;
    border: 0px solid;
    margin: 12px 12px;
    border: 1px #f1f1f1 solid;
    border-radius: 25px;
    padding: 6px 6px;
}

.action button span{
    padding: 6px;
}

.action button span:nth-child(1){
    border-right: 0.5px #646464 solid;
}

.action button span.buy-now_button{
    font-family: Gotham black;
    color: white;
    font-size: 13px;
    margin-right: 4px;
}

img.mySlides {
    margin: 70px auto 10px auto;
    width: 240px;
    height: 228px;
    object-fit: cover;
}

.product-image_pagination{
    margin: 20px 33%;
}

.product-image_pagination button{
    padding: 0;
    border: 0px;
    background: white;
}

/*
.with-bg-size {
    background-image: url(images/image.jpg);
    margin: 90px auto;
    width: 240px;
    height: 228px;
    background-position: center;
     Make the background image cover the area of the <div>, and clip the excess 
    background-size: cover;
}*/
