* {
  color: #434343;  
}

body{
    background: #f1f1f1;
}

body, ul, li{
    margin: 0;
    padding: 0;
}


h3,h4,h5{
    margin: 0;
}

h3{
    font-family: Gotham Medium;
    font-size: 12px;
    margin: 4px 0;
}

h4{
    font-family: Gotham Medium;
    font-size: 10px;
}

h5{
   font-family: Gotham Light;
   font-size: 10px;
   color: #989898
}

header{
    
    background: #c30f42;
    height: 60px;
}

header:after{
    display: block;
    clear: both;
}

h1{
    text-indent: -1000px;
    float: left;
}  

nav{
    margin-top: 20px;
    float: right;
}

.nav-bar{
    width: 90%;
    margin: 0 auto;
}

header nav li{
    list-style-type: none;
    float: left;
    margin: 0 20px;
}

header nav li a{
    text-decoration: none;
    color: white;
    font-family: Gotham Medium;
}

input{
    font-family: Gotham Light;
    border: 0px solid;
    border-radius: 2px;
    padding: 5px 0;
}

input.search-form_field{
    
}

input.search-form_button{
    padding: 5px 8px;
}

.product-list{
    width: 80%;
    margin: 60px auto;
}

.product-card{
    margin: 30px 0;
}

.product-card-top{
    margin-top: -10px;
    z-index: -1;
}

.product-card-bottom{
    margin-top: 16px;
    margin-left: 18px;
}

.product-label{
    background: #fbe55a;
    border-radius: 0 25px 25px 0;
    width: 5%;
    padding: 8px 22px 8px 14px;
    z-index: 10;
    position: absolute;
    margin-top: 12px;
}

.product-picture{
    width: 100%;
}

.product-list ul{
    list-style-type: none;
    float: left;
}

.product-list ul li{
    background: white;
    width: 24%;
    height: 292px;
    margin: 0.5%;
    float: left;
    border-radius: 6px;
}

.product-details{
    margin: 12px 16px;
    float: right;
    border: 1px #f1f1f1 solid;
    border-radius: 25px;
    padding: 5px 0px;
}

.product-details a{
    margin: 6px;
    border: 0px solid;
    background: white;
    color: #434343;
}

.product-details span{
    padding: 6px;
}

.product-details span:nth-child(1){
    border-right: 1px #f1f1f1 solid;
}

.product-details span.product-price{
    font-family: Gotham Black;
    color: #6d6d6d;
    font-size: 12px;
    margin-right: 4px;
}








