* {
  color: #434343;  
}

body{
    background: #f1f1f1;
}

body, ul, li{
    margin: 0;
    padding: 0;
}

h3,h4,h5{
    margin: 0;
}

h3{
    font-family: Gotham Medium;
    font-size: 17px;
    margin: 4px 0;
}

h4{
    font-family: Gotham Medium;
    font-size: 13px;
}

h5{
   font-family: Gotham Light;
   font-size: 14px;
   color: #989898
}

header{
    width: 100%;
    background: #c30f42;
    height: 60px;
}

header:after{
    display: block;
    content: "";
    clear: both;
}

h1{
    text-indent: -1000px;
    float: left;
}  

nav{
    width: 80%;
    margin-top: 20px;
    float: right;
}

.nav-bar{
    width: 100%;
    margin: 0 auto;
}

header nav li{
    list-style-type: none;
    float: left;
    margin: 0 20px;
}

header nav li a{
    text-decoration: none;
    color: white;
    font-family: Gotham Medium;
}

input{
    font-family: Gotham Light;
    border: 0px solid;
    border-radius: 2px;
    padding: 5px 0;
}

input.search-form_button{
    padding: 5px 8px;
}

main{
    width: 1600px;
    margin: 0 auto;
    padding: 0 2%;
}

.product-list{
    margin-top: 60px;
}

.product-list:after{
    display: block;
    content: "";
    clear: both;
}

.product-card{
    margin: 30px 0;
}

.product-card-top{
    margin-top: -10px;
    z-index: -1;
    width: 368px;
    height: 288px;
}

.product-card-top img{
    width: 368px;
    height: 300px;
    object-fit: cover;
}

.product-card-bottom{
    margin-top: 30px;
    margin-left: 16px;
}

.product-label{
    background: #fbe55a;
    border-radius: 0 25px 25px 0;
    padding: 8px 24px 6px 14px;
    z-index: 10;
    position: absolute;
    margin-top: 22px;
}

.product-picture{
    width: 100%;
}

.product-list ul{
    list-style-type: none;
    float: left;
}

.product-list ul li{
    background: white;
    width: 23%;
    height: 484px;
    margin: 1%;
    float: left;
    border-radius: 6px;
}

.product-details{
    margin-right: 11px;
}

.product-details button{
    background: white;
    border: 0px solid;
    margin: 24px 12px;
    float: right;
    border: 1px #f1f1f1 solid;
    border-radius: 25px;
    padding: 10px 0px;
}

.product-details button span{
    padding: 10px 14px;
}

.product-details button span:nth-child(1){
    border-right: 1px #f1f1f1 solid;
}

.product-details button span.product-price{
    font-family: Gotham black;
    color: #6d6d6d;
    font-size: 13px;
    margin-right: 4px;
}

footer{
    background: white;
    height: 80px;
}

.footer{
    width: 80%;
    margin: 0 auto;
    font-family: Gotham Light;
}

.footer ul{
    list-style-type: none;
    margin-top: 36px;
}

.footer ul.copyright{
    float: left;
}

.footer ul.social-media{
    float: right;
}

.footer ul.social-media li{
    float: left;
    margin: 4px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 120px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 0px 40px 0px;
    width: 920px;
    height: 630px;
    border-radius: 4px;
}

/* The Close Button */
.close {
    margin-right: 20px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close:after{
    display:block;
    content: "";
    clear: both;
}

.product-image-slide{
    margin-top: 20px;
    width: 40%;
    height: 90%;
    float: left;
}

.product-image-slide img{
    height: 100%;
}

.product-information{
    float: right;
    margin-top: 20px;
    margin-right: 2%;
    width: 46%;
    height: 100%;
}

.product-information h3{
    font-family: Gotham Black;
    font-size: 28px;
    margin: 4px 0;
}

.product-information h4{
    font-family: Gotham Medium;
    font-size: 26px;
}

.product-information h5{
   font-family: Gotham Light;
   font-size: 20px;
   color: #989898
}


section.product-name{
    margin-top: 40px;
}

section.product-price{
    margin: 5px 0;
}

section.product-description{
    padding: 10px 0;
    width: 95%;
}

section.tab{
    margin-top: 20px;
    border-bottom: 0.5px #ededed solid;
}

/* Style the tab */
.tab-title {
    overflow: hidden;
    border-bottom: 0.5px #ededed solid;
}

/* Style the buttons inside the tab */
.tab-title button {
    background-color: inherit;
    float: left;
    color: #d1d1d1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 0px;
    margin-right: 24px;
    transition: 0.3s;
    font-size: 16px;
    font-family: Gotham Medium;
    border-bottom: 3px transparent solid;
}

/* Change background color of buttons on hover */
.tab-title button:hover {
    color: #bbbbbb;
    border-bottom: 3px #fdf2ad solid;
}

/* Create an active/current tablink class */
.tab-title button.active {
    color: #434343;
    border-bottom: 3px #fbe55a solid;
}

/* Style the tab content */
.tab-content {
    display: none;
    padding: 10px 0px;
    border-top: none;
}

.tab-content ul{
    list-style-type: none;
}

.tab-content ul li{
    background: url(images/check.svg) no-repeat 0px 8px;
    line-height: 1.8em;
    text-indent: 24px;
    color: #989898;
    font-size: 16px;
}

.colors ul{
    margin: 6px 0px;
    list-style-type: none;
}

.colors ul li{
    float: left;
    margin: 0 8px;
}

.colors:after{
    display: block;
    content: "";
    clear: both;
}

div.radio-black{
    width: 16px;
    height: 16px;
    background: #3c3c3c;
    border-radius: 16px;
    border: 4px #f7f7f7 solid;
}

div.radio-grey{
    width: 16px;
    height: 16px;
    background: #dadada;
    border-radius: 16px;
    border: 4px #f7f7f7 solid;
}

div.radio-gold{
    width: 16px;
    height: 16px;
    background: #d8b56a;
    border-radius: 16px;
    border: 4px #f7f7f7 solid;
}

section.colors{
    margin: 2px 0;
    padding: 20px 0;
    border-bottom: 0.5px #ededed solid;
}

section.notes ul{
    list-style-type: none;
    margin-top: 20px;
}

section.notes ul li{
    background: url(images/check.svg) no-repeat 0px 14px;
    line-height: 1.8em;
    text-indent: 16px;
    font-size: 18px;
    color: #989898;
    padding: 8px;
    padding-bottom: 30px;
    border-bottom: 0.5px #ededed solid;
}

.action{
    margin-top: 20px;
    float: right
}

.action button{
    background: #3d3d3d;
    border: 0px solid;
    margin: 12px 0px;
    border: 1px #f1f1f1 solid;
    border-radius: 25px;
    padding: 12px 24px;
}

.action button span{
    padding: 12px 12px;
}

.action button span img{
    padding-top: 4px;
    margin-right: 10px;
}


.action button span:nth-child(1){
    border-right: 0.5px #646464 solid;
}

.action button span.buy-now_button{
    font-family: Gotham black;
    color: white;
    font-size: 13px;
    margin-right: 4px;
}

img.mySlides {
    margin: 70px auto 10px auto;
    width: 340px;
    height: 480px;
    object-fit: cover;
}

.product-image_pagination{
    margin: 20px 39%;
}

.product-image_pagination button{
    padding: 0;
    border: 0px;
    background: white;
}

.radio{
    margin: 6px;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    border: 0.5px #434343 solid;
}

.radio:hover{
    background: #797979;
}

.radio-black{
    background: #434343;
    color: #434343;
    background-color: #434343;
}
/*

@media screen and (max-width: 960px){
    .product-list ul li{
        width: 330px;
        margin: 2% 2%
    }

    .product-card-top img{
        width: 330px;
        height: 300px;
        margin: 0 auto;
        object-fit: cover;
    }
}
*/

@media screen and (max-width: 960px){
    main{
        width: 90%;
        margin: 0 auto;
    }

    .product-list ul li{
        width: 310px;
        margin: 2% 2%
    }   

    .product-card-top img{
        width: 310px;
        height: 300px;
        object-fit: cover;
    }

    .modal{
        padding: 80px 0px !important;
    }
    
    .modal-content{
        width: 90%;
        height: 1300px;
    }

    .product-image-slide{
        margin-top: 0;
        width: 100%;
        height: 600px;
    }

    .product-information{
        margin: 0px 40px !important;
        width: 90%;
    }

    .product-image_pagination{
        margin-left: 40%;
    }

    .product-image_pagination div{
        margin: 0px 5px;
    }

    product-information{
        width: 90%;
        background: black;
    }
    
    section.product-information{
        width: 100% !important;
    }

    section.action{
        width: 75%;
        margin: 30px auto;
    }

    .action button{
        background: #3d3d3d;
        border: 0px solid;
        border: 1px #f1f1f1 solid;
        border-radius: 30px;
        padding: 20px 24px;
    }

    .action button span.buy-now_button{
        font-family: Gotham black;
        color: white;
        font-size: 18px;
        padding: 60px;
    }    
}

@media screen and (max-width: 480px){
    .modal-content{
        height: 1300px;
    }
    
    .product-information{
        width: 80%;
    }
    
    section.action{
        width: 100%;
    }

    .action button{
        background: #3d3d3d;
        border: 0px solid;
        border: 1px #f1f1f1 solid;
        border-radius: 30px;
        padding: 20px 60px;
    }

    .action button span.buy-now_button{
        font-family: Gotham black;
        color: white;
        font-size: 18px;
        padding: 